
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <title>卜一卦吧</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link rel="shortcut icon" href="/statics/ffsm/favicon.ico"/>
    <link th:href="@{/page1.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<audio src="" id="myAudio"></audio>
<section class="page3-bg-1">
    <div class="material-box">
        <div class="material-img1"></div>
        <div class="material-img2"></div>
        <div class="top clearfix">
            <em class="left center-text">个人资料</em>
        </div>
        <div class="center clearfix">
            <div class="infor clearfix">
                <div class="infor1 left">
                    <span class="key-text">性别:</span>
                    <span class="value-text">男</span></div>
                <div class="infor2 left">
                    <span class="key-text">生肖:</span>
                    <span class="value-text" th:text="${sx}"></span></div>
            </div>
            <div class="infor-data clearfix">
                <span class="key-text left">生辰(农历):</span>
                <div class="value-text left">
                    <p th:text="${nlrq}"></p>
                </div>
            </div>
            <div class="infor-data clearfix" >
                <span class="key-text left">八字:</span>
                <div class="value-text left">
                    <p th:text="${bz}"></p>
                </div>
            </div>

                        <div class="list-box list3">
                            <em class="left center-text">五行综述</em>
                            <table>
                                <tbody th:utext="${bzzs}">
                                </tbody>
                            </table>
                        </div>

            <!--
                        <div class="infor-table">
                            <p class="key-text">您的五行八字资料</p>
                            <table>
                                <tbody>
                                <tr>
                                    <th>八字</th>
                                    <th>年柱</th>
                                    <th>月柱</th>
                                    <th>日柱</th>
                                    <th>时柱</th>
                                </tr>
                                <tr>
                                    <td>天干</td>
                                    <td>庚</td>
                                    <td>丁</td>
                                    <td>甲</td>
                                    <td>戊</td>
                                </tr>
                                <tr>
                                    <td>地支</td>
                                    <td>午</td>
                                    <td>亥</td>
                                    <td>辰</td>
                                    <td>辰</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        -->
            <div class="solution-box clearfix">
                <div class="sol-left">
                    <p th:text="${wx}"></p>
                    <p>
                    </p>
                </div>
                <!--<div class="sol-right">-->
                <!--<img src="//statics/ffsm/bazimf/images/pic8.png" alt="">-->
                <!--</div>--></div>
        </div>
    </div>
    <div class="content-box page3-content">
        <div class="title clearfix" style="display: flex">
            <img style="text-align: center;margin: 2% auto;" src="/statics/ffsm/bazimf/images/pic-text4.png" alt=""></div>
        <div class="list-box list1">
            <h2 class="clearfix">
                <span class="icon icon1"></span>
                <em>八字排盘</em></h2>
            <div class="list-text">
                <span class="red">提示:</span>
                <span>八字命盘从阴阳干支三合历取得。上排是天干，由五行「金水木火土」轮流排列。下排是地支，用十二生肖顺序排列。十二生肖可转换成五行。</span></div>
            <table>
                <tbody th:utext="${bzpb}">
                </tbody>
            </table>
        </div>
        <!--<div class="list-box list2">
          <h2 class="clearfix">
            <span class="icon icon2"></span>
            <em>吉神凶煞</em></h2>
          <table>
            <tbody>
              <tr>
                <th>四柱</th>
                <th>神煞</th></tr>
              <tr>
                <th>年柱</th>
                <td>月德 天乙贵人</td></tr>
              <tr>
                <th>月柱</th>
                <td>病符 亡神 反朝桃花 四大空亡 天福贵 福星贵 截路空亡 大败</td></tr>
              <tr>
                <th>日柱</th>
                <td>福德 天喜 桃花 绞煞 天德 流霞 阴阳差错 交神</td></tr>
              <tr>
                <th>时柱</th>
                <td>岁破 灾煞 天哭</td></tr>
            </tbody>
          </table>
        </div>-->
        <!--
        <div class="list-box list3">
            <em class="left center-text">五行综述</em>
            <table>
                <tbody th:utext="${bzzs}">
                <tr>
                    <th>八字</th>
                    <th>庚午</th>
                    <th>丁亥</th>
                    <th>甲辰</th>
                    <th>戊辰</th></tr>
                <tr>
                    <th>五行</th>
                    <td>金火</td>
                    <td>火水</td>
                    <td>木土</td>
                    <td>土土</td>
                </tr>
                </tbody>
            </table>
        </div>
        -->
    </div>
    <div class="content-box page3-content">
        <div class="title" style="display: flex">
            <img style="text-align: center;margin: 2% auto;" src="/statics/ffsm/bazimf/images/pic-text2.png" alt=""></div>
        <div class="content-warp1">
            <div class="warp1-text-box">
                <h3>●性格分析:
                    <span></span></h3>
                <div class="warp1-text">
                    <p th:utext="${xgfx}">
                    </p>
                </div>
            </div>
            <div class="warp1-text-box">
                <h3>●爱情分析:
                    <span></span></h3>
                <div class="warp1-text">
                    <p th:utext="${aqfx}"></p>
                </div>
            </div>
            <div class="warp1-text-box">
                <h3>●事业分析:
                    <span></span></h3>
                <div class="warp1-text">
                    <p th:utext="${syfx}"></p>
                </div>
            </div>
            <div class="warp1-text-box">
                <h3>●健康分析:
                    <span></span></h3>
                <div class="warp1-text">
                    <p th:utext="${jkfx}"></p>
                </div>
            </div>
            <div class="warp1-text-box">
                <h3>●财运分析:
                    <span></span></h3>
                <div class="warp1-text">
                    <p th:utext="${cyfx}"></p>
                </div>
            </div>
            <!--
            <div class="warp1-text-box">
                <h3>●三命通会:
                    <span></span></h3>
                <div class="warp1-text">
                    <p>
                        甲日生于戊辰时,库藏正财,时干戊土又是甲的偏财,入钱龙守库格,主经商发财,广置田亩。生于八月(酉月),财神、官星具备,此命大富大贵,但忌讳比肩、羊刃来分夺财富。
                    </p>
                    <p>甲辰日戊辰时生，柱中有冲有刑即可发财，但妻星多，得子较晚，父母双亲受克制。生于酉月，官至三四品。生于丑月，命主显贵。地支只有辰，此命大贵。</p>
                </div>
            </div>
            -->
            <div class="warp1-text-box">
                <h3>●未来一年
                    <span></span></h3>
                <div class="warp1-text">
                    <p th:utext="${wlyn}"></p>
                    <!--
                    <p><font color=blue>2024年 12月 7日～2025年 1月 6日：</font><br>
                    <p>夫妻本是同林鸟，宿在林中离去先。</p><p>平运，财怕劫神勿远道求财，宜守旧业可也。</p>
                    <p><font color=green>十神为比劫：</font>其表象范围大多与本身的思想言行、陈规陋习、决策计划，以及朋友、同辈、兄弟姐妹等有关。</p><p>吉象：理想远大，进取心强，有主见，敢于与不良现象作斗争。</p><p>凶象：不容易听取别人的意见，固执已见、独断专行，多招惹诽谤有伤名誉。做事没有恒心，说的多做的少。易染上酗酒赌博等恶习。男性要防婚变，女性婚期早不利。</P>
                    <font color=blue>2025年 1月 6日～2025年 2月 4日：</font><br>
                    <p>后运正兴家业盛，光风齐月乐悠悠。</p><p>平安平稳，财源一般。益同胞之运。</p>
                    <p><font color=green>十神为比肩：</font>其表象范围大多与本身的事业、思想言行、决策、健康安全，以及兄弟姐妹、同学、同事、朋友、近邻等有关。</p><p>吉象：个性张扬，事业心较强，勇于向不利环境挑战，在异乡较顺利，较得朋友之助力。</p><p>凶象：易争强斗胜、独断专行，常遭小人陷害，或受兄弟姐妹、同事或朋友拖累而破财，合作事业易散伙，父亲受牵累。夫妻易生是非。</P>
                    <font color=blue>2025年 2月 4日～2025年 3月 6日：</font><br>
                    <p>虚名虚利而不成，浪足迹萍踪已半生</p><p>。财运不通，对长辈不利或防官非，不可远道求财。。</p>
                    <p><font color=green>十神为伤官：</font>其表象范围大多与理想追求、爱好特长、文学技术、公共关系、迁移调动，以及儿女、学生、晚辈、部属、性欲等有关。</p><p>吉象：比平时有较高的智慧和才能，聪明智谋多，在音乐艺术、爱好特长方面较易成功。</p><p>凶象：本性过度暴露，惹事生非好管事，易与人产生过节，孤独寂寞。男性易盲目追求爱情而有损名誉及事业。女性防婚姻不顺利。</P>
                    <font color=blue>2025年 3月 6日～2025年 4月 5日：</font><br>
                    <p>走过江山又是关，道途跋涉事艰难。</p><p>有贵人扶持，收入高，工作顺序。</p>
                    <p><font color=green>十神为食神：</font>其表象范围大多与开业迁居、文学写作、自由职业、专业技术，以及子女、学生、下属、性欲等有关。</p><p>吉象：学业事业较易进步和成功，天赋较易发挥。爱情也较易产生和进展，易交桃花运。女性较易怀胎生育。</p><p>凶象：聪明易被聪明误，产生矛盾，引起官司诉讼。外表光华内里平淡，防过度劳神而损身心；盲目追求爱情而有损名誉及事业。男女要防矛盾和婚变。</P>
                    <font color=blue>2025年 4月 5日～2025年 5月 5日：</font><br>
                    <p>龙下碧潭添秀色，虎逢山谷转精神。</p><p>大吉大利，一航风顺，好运。男性益妻。</p>
                    <p><font color=green>十神为正财：</font>其表象范围大都与财产、金钱，以及父亲、男性的妻子或女友等有关。</p><p>吉象：财运亨通，有比平时较多求财的机遇。父亲较有利，或容易交上女友，姻缘不错。</p><p>凶象：易引起财产或金钱纠纷，意外破耗。财多伤母克妻，易发生感情破裂。</P>
                    <font color=blue>2025年 5月 5日～2025年 6月 6日：</font><br>
                    <p>处处鸡鸟两分飞，拆断佳人不济眉。</p><p>防财物丢失，收入一般，平运。</p>
                    <p><font color=green>十神为偏财：</font>其表象范围大都与商业、财产、金钱，以及父亲、男性的情人、女性的婆婆等有关。</p><p>吉象：人缘好口碑佳，生意买卖比较顺利，富裕发达。男性风流豪爽，易得女人喜欢。</p><p>凶象：本地求财不易得，财虽多但不易存下，婚姻感情易变。</P>
                    <font color=blue>2025年 6月 6日～2025年 7月 7日：</font><br>
                    <p>风吹翠竹流珠泪，雪压梅花带素冠。</p><p>贵人扶持，有购置建设等好事，但好事中有小阻。女性益夫。</p>
                    <p><font color=green>十神为正官：</font>其表象范围大多与职位、名誉、权力、事业竞争、上司，以及子女、女性的丈夫或男友等有关。</p><p>吉象：职位权力易稳固或上升，官司易获胜诉或平反，学业或事业较顺利。男性较易获得子女尊重。女性的丈夫较有地位或权威。</p><p>凶象：易遭诽谤财受损，易发生是非争执，影响职位、名誉，兄弟姐妹易发生刑伤。女性之丈夫或男友易有不利事。</P>
                    <font color=blue>2025年 7月 7日～2025年 8月 8日：</font><br>
                    <p>当年之曲不堪闻，弹出新声另有声。</p><p>运阻滞，防与人发生纠纷，不可远道求财。</p>
                    <p><font color=green>十神为七杀：</font>其表象范围大多与武职、军衔、诉讼、外敌、建筑，以及儿女、女性的情人等有关。</p><p>吉象：做事干脆利落，工作效率高，较易文成武就。侠义助人受人感激，名声显赫，有地位或有权威。</p><p>凶象：个性太张扬，聪明反被聪明误，自己容易受损失。生活起伏较大，身体易受伤残。女性早婚不利。</P>
                    <font color=blue>2025年 8月 8日～2025年 9月 8日：</font><br>
                    <p>风弄竹声惊犬吠，月移花影惹鸡鸟。</p><p>工作顺利，财运通，有购置建设等好事。</p>
                    <p><font color=green>十神为正印：</font>其表象范围大多与学业、艺术，以及长辈、师长、母亲、女婿等有关。</p><p>吉象：自己的天赋较易发挥，学业艺术方面有发展。</p><p>凶象：劳神费心，工作受自己的情绪影响较大，女性不利子女。</P>
                    <font color=blue>2025年 9月 8日～2025年 10月 8日：</font><br>
                    <p>风出不堪云淡淡，花开无奈雨淋淋。</p><p>小伤威信，忌赌，守为吉。</p>
                    <p><font color=green>十神为偏印：</font>其表象范围大多与学术研究、爱好特长，以及长辈、 贵人、母亲等有关。</p><p>吉象：较易得贵人帮助，爱好特长易发挥，学术研究较易有成就。</p><p>凶象：学业或事业有波折，生活不安定，名誉有损，或母亲有事。不利子女，易发生交通事故。</P>
                    <font color=blue>2025年 10月 8日～2025年 11月 7日：</font><br>
                    <p>花开遇雨无颜色，月明偶被黑云遮。</p><p>冲财体差，宜守旧业，办事生挫折。</p>
                    <p><font color=green>十神为比劫：</font>其表象范围大多与本身的思想言行、陈规陋习、决策计划，以及朋友、同辈、兄弟姐妹等有关。</p><p>吉象：理想远大，进取心强，有主见，敢于与不良现象作斗争。</p><p>凶象：不容易听取别人的意见，固执已见、独断专行，多招惹诽谤有伤名誉。做事没有恒心，说的多做的少。易染上酗酒赌博等恶习。男性要防婚变，女性婚期早不利。</P>
                    <font color=blue>2025年 11月 7日～2025年 12月 7日：</font><br>
                    <p>终日持竿不得鱼，江中风雨草萋萋。</p><p>平运，财源一般，青年时代有同胞好坏事牵涉本人财帛。</p>
                    <p><font color=green>十神为比肩：</font>其表象范围大多与本身的事业、思想言行、决策、健康安全，以及兄弟姐妹、同学、同事、朋友、近邻等有关。</p><p>吉象：个性张扬，事业心较强，勇于向不利环境挑战，在异乡较顺利，较得朋友之助力。</p><p>凶象：易争强斗胜、独断专行，常遭小人陷害，或受兄弟姐妹、同事或朋友拖累而破财，合作事业易散伙，父亲受牵累。夫妻易生是非。</P>
                    </p>
                    -->
                </div>
            </div>
        </div>
    </div>
</section>

<style type="text/css">
    .ainuo_foot_nav{display: block; padding: 2px 0; background: #ff300c; position: fixed; bottom: 0; width: 100%; z-index: 99999;max-width:640px;}
    .ainuo_foot_nav ul{margin: 0;padding: 0;}
    .ainuo_foot_nav li{width: 20%; text-align: center; float: left;}
    .ainuo_foot_nav li a{width: 100%; display: block;}
    .ainuo_foot_nav .foothover i{color: #f13030;}
    .ainuo_foot_nav li i{display: block; line-height: 25px; height: 25px; margin: auto; padding: 0; width: 25px; overflow: hidden; background-size: 100%;}
    .ainuo_foot_nav li a.botpost{position: relative; margin-top: -11px; background-color: rgba(0,0,0,0.0);}
    .ainuo_foot_nav li a.botpost em{background: #ffffff; padding: 2px; border: 1px solid #ff5e5e; display: block; border-radius: 50%; width: 30px; height: 30px; margin: 0 auto; margin-bottom: 2px;padding-bottom: 0px;}
    .ainuo_foot_nav li p{overflow: hidden; font-size: 12px; height: 16px; line-height: 16px; color: #fff; font-weight: 400;margin: 0;padding: 0;}
    .shouye_1{background: url(/statics/ffsm/public/images/shouye.png) no-repeat;}
    .wddd_1{background: url(/statics/ffsm/public/images/dingdan.png) no-repeat;}
    .lijics_1{background: url(/statics/ffsm/public/images/suan.png) no-repeat;}
    .gengduo_1{background: url(/statics/ffsm/public/images/gengduo.png) no-repeat;}
    .grzx_1{background: url(/statics/ffsm/public/images/grzx.png) no-repeat;}
</style>
<script type="text/javascript">
    function _resize(){
        var html= document.getElementsByTagName('html')[0];
        var hW = html.offsetWidth > 750 ? 750 : html.offsetWidth;
        var fS = 100/750 * hW;
        html.style.fontSize = fS+"px"
    }
    _resize();
    window.onresize = function(){
        _resize();
    };
</script>
<link href="/statics/user/css/extend_module.css" rel="stylesheet" type="text/css"/>
<div class="public_hot_test">
    <!--<a href="/?ac=xydd"><img style="width:100%; height:auto; margin:0 auto; display:block;" src="/statics/img/diandeng.jpg" alt="点灯还愿"/></a>-->
    <script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/statics/ffsm/public/js/dibu.js"></script>
    <div class="zcdgbox"><a href="javascript:void(0)" class="back_top" id="back_top" style="display: inline-block;"></a></div>
</div>
<footer class="footer_severs">
</footer>
<link href="/statics/quanju.css" rel="stylesheet" type="text/css"/>
<!--<a class="tuiguang_1" href="?ac=tuiguang"><em>赚取佣金</em></a>-->
<!--顶部文字提醒内容-->
<script>
    window.requestAnimFrame = (function(){
        return  window.requestAnimationFrame ||
            window.webkitRequestAnimationFrame ||
            window.mozRequestAnimationFrame ||
            function( callback ){
                window.setTimeout(callback, 1000 / 60);
            };
    })();
    $('#alertMarquee').each(function(){
        $('.contents').addClass('has-alert-marquee');

        var $this = $(this);
        var $cont = $this.find('.inner');
        var w = $this.width();
        var sw = w + $cont.width();
        var n = w / 375 * 1;
        var i = 0;
        var movingFn = function(){
            i = i + n;
            if(i > sw){
                i = 0;
            }
            $cont.css({'margin-left': -i });
            window.requestAnimFrame(movingFn)
        }
        window.requestAnimFrame(movingFn)
    });
</script><script type=text/javascript src="https://apps.bdimg.com/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    function dl_getCookie(cname){
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for(var i=0; i<ca.length; i++) {
            var c = ca[i].trim();
            if (c.indexOf(name)==0) { return c.substring(name.length,c.length); }
        }
        return "";
    }
    function addUrlPara1(value) {
        var Cts =window.location.href;
        var name ='dl';
        if(Cts.indexOf("dl") <= 0 ){
            var currentUrl = Cts.split('#')[0];
            if (/\?/g.test(currentUrl)) {
                currentUrl += "&" + name + "=" + value;
            } else {
                currentUrl += "?" + name + "=" + value;
            }
            if (Cts.split('#')[1]) {

                history.replaceState(null,null,currentUrl + '#' + Cts.split('#')[1]);
            } else {
                history.replaceState(null,null,currentUrl);
            }
        }
    }

</script></body>
</html>