<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syigua.mapper.SygWxEtxContentMapper">

    <select id="getContentByInput" parameterType="java.lang.String" resultType="com.syigua.po.SygWxEtxContentPO">
        select id, input, content from syg_wx_etx_content where input = #{input}
    </select>

</mapper>