<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syigua.mapper.WxMsgMapper">

    <insert id="addMsg" parameterType="com.syigua.po.WxMsgPO">
    INSERT INTO wx_msg (
    msg_id,
    content,
    msg_type,
    from_user_name,
    to_user_name,
    create_time,
    role
    )
    VALUES (
    #{msgId},
    #{content},
    #{msgType},
    #{fromUserName},
    #{toUserName},
    #{createTime},
    #{role}
    )
    </insert>


    <select id="getContentByUserName" resultType="com.syigua.po.WxMsgPO" parameterType="java.lang.String">
        select content, role from wx_msg where from_user_name = #{userName}
                                or to_user_name =  #{userName}
        order by create_date_log desc limit 5;
    </select>

</mapper>